* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: 'Space Grotesk', sans-serif;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row-reverse; /* INVERTI le colonne */
}


/* Sposta .right (contatti) a sinistra */
.right {
  order: 2;
  flex: 1 1 15%;
  font-size: 13px;
  line-height: 1.2;
  text-align: right;
}


.left {
  order: 5;
  flex: 1 1 20%;
  font-size: 13px;
  line-height: 1.2;
  text-align: left;
}


.left a {
  font-weight: 500;
  font-size: 20px;
  text-decoration: underline;
  color: #222222;
}


.projects {
  position: fixed;
  bottom: -4px; /* distanza dal fondo della finestra */
  left: 9px;  /* oppure left: 20px, se preferisci */
  font-size: 64px;
  font-weight: 700;
  letter-spacing: -1px;
  z-index: 1000; /* per tenerla sopra agli altri elementi */
  opacity: 100%;
}



.cosapuoidire {
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  color: #222222;
}

.cosapuoidire {
  margin-top: 150px; 
}

.cosapuoidire img {
  margin-top: 8px;  /* distanza sopra l'immagine */
  display: block;    /* per evitare spazi strani sotto l'immagine */
  max-width: 100%;   /* per renderla responsive, se vuoi */
  height: auto;     
}

.categoryCPD {
  margin-top: -353px;
  order: 2;
  flex: 1 1 15%;
  font-size: 20px;
  line-height: 1,1;
  text-align: right;
}

.cpd-description {
  margin-top: -12px;
  font-size: 13px;
  line-height: 1.2;
  text-align: left;
  text-align: justify;
}





.paroleinforma {
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  color: #222222;
}

.paroleinforma {
  margin-top: 460px;   /*titolo*/
}

.paroleinforma img {
  margin-top: 7px;  /* distanza sopra l'immagine */
  display: block;    /* per evitare spazi strani sotto l'immagine */
  max-width: 100%;   /* per renderla responsive, se vuoi */
  height: auto;  
  border: 1px solid rgba(241, 241, 241, 0.4);
}

.pif-description {
  margin-top: -12px;
  font-size: 13px;
  line-height: 1.2;
  text-align: left;
  text-align: justify;
}





.immaginiincorso {
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  color: #222222;
}

.immaginiincorso {
  margin-top: 460px;   /*titolo*/
}

.immaginiincorso img {
  margin-top: 7px;  /* distanza sopra l'immagine */
  display: block;    /* per evitare spazi strani sotto l'immagine */
  max-width: 100%;   /* per renderla responsive, se vuoi */
  height: auto;     
}

.iic-description {
  margin-top: -10px;
  font-size: 13px;
  line-height: 1.2;
  text-align: left;
  text-align: justify;
}

.categoryIIC {
  margin-top: -420px;
  order: 2;
  flex: 1 1 15%;
  font-size: 20px;
  line-height: 1,1;
  text-align: right;
}