* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: 'Space Grotesk', sans-serif;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row-reverse; /* INVERTI le colonne */
}


/* Sposta .right (contatti) a sinistra */
.right {
  order: 2;
  flex: 1 1 15%;
  font-size: 13px;
  line-height: 1.2;
  text-align: right;
}

/* Sposta .left (presentazione) a destra */
.left {
  order: 5;
  flex: 1 1 20%;
  font-size: 13px;
  line-height: 1.2;
  text-align: left;
}

.see-work {
  margin-top: 100px; 
}

.freccia {
    margin-top: -30px;
    order: 2;
  flex: 1 1 15%;
  font-size: 30px;
  line-height: 1,1;
  text-align: right;
} 

.see-work a {
  font-weight: 500;
  font-size: 20px;
  text-decoration: underline;
  color: #222222;
}

.name {
  position: fixed;
  bottom: -4px; /* distanza dal fondo della finestra */
  left: 9px;  /* oppure left: 20px, se preferisci */
  font-size: 64px;
  font-weight: 700;
  letter-spacing: -1px;
  z-index: 1000; /* per tenerla sopra agli altri elementi */
}

